<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a routerLink="/" class="logo logo-dark">
                    <span class="logo-sm">
            <img src="assets/images/favicon.png" alt="" height="22">
          </span>

                </a>

                <a routerLink="/" class="logo logo-light">
                    <span class="logo-sm">
            <img src="assets/images/favicon.png" alt="" height="22">
          </span>
                    <span class="logo-lg">
            Logo
            <!-- <img src="assets/images/logo-light.png" alt="" height="19"> -->
          </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn" (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>

        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ms-2" ngbDropdown>
                <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown" data-toggle="dropdown" aria-haspopup="true" ngbDropdownToggle aria-expanded="false">
          <i class="mdi mdi-magnify"></i>
        </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" ngbDropdownMenu aria-labelledby="page-header-search-dropdown">

                    <form class="p-3">
                        <div class="m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon" data-toggle="fullscreen" (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button>
            </div>
            <div class="btn-group">
                <a href="javascript:void(0);" routerLink="/notification-management" class="btn btn-black dropdown-toggle header-item noti-icon"><i
            class="bx bx-bell bx-tada mt-3"></i><span class="badge bg-danger rounded-pill">3</span></a>
            </div>


            <button type="button" class="btn header-item" id="page-header-user-dropdown" (click)="menu.toggle($event)">
        <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg" alt="Header Avatar">
        <span class="d-none d-xl-inline-block ms-1">ABC</span>
        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
      </button>

            <p-menu #menu [popup]="true" [model]="items">


            </p-menu>


        </div>
    </div>
</header>