<div class="container-fluid">
    <app-page-title title="Dashboard"></app-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Date filter</h4>
                    <input type="text" name="daterange" ngxDaterangepickerMd [alwaysShowCalendars]="true"
                        [autoApply]="false" [showCustomRangeLabel]="true" (datesUpdated)="datesUpdated()"
                        [(ngModel)]="selectedRange" [linkedCalendars]="true" [ranges]="ranges" [showClearButton]="true"
                        class="form-control mediadate" style="min-width: 360px; max-width: fit-content;" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="mini-stats-wid card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Total Users</p>
                            <h4 class="mb-0">1,235</h4>
                        </div>
                        <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"><span
                                class="avatar-title"><i class="bx bx-copy-alt font-size-24"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mini-stats-wid card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Total Active users</p>
                            <h4 class="mb-0">1023</h4>
                        </div>
                        <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"><span
                                class="avatar-title"><i class="bx bx-archive-in font-size-24"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mini-stats-wid card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Total Blocked users</p>
                            <h4 class="mb-0">100</h4>
                        </div>
                        <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"><span
                                class="avatar-title"><i class="bx bx-purchase-tag-alt font-size-24"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mini-stats-wid card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Top Reported Users</p>
                            <h4 class="mb-0">102</h4>
                        </div>
                        <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"><span
                                class="avatar-title"><i class="bx bx-purchase-tag-alt font-size-24"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"> Total Chats/day </h2>
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                        [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                        [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [fill]="chartOptions.fill"
                        [grid]="chartOptions.grid" [title]="chartOptions.title"></apx-chart>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"> Total Male/female </h2>
                    <div class="chart-male">
                        <apx-chart #piechart [series]="piechartOptions.series" class="apex-chart" [chart]="piechartOptions.chart"
                            [labels]="piechartOptions.labels" [responsive]="piechartOptions.responsive"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>